/*Основной цвет текста #212121 */ 
/*Вторичный цвет текста #757575 */
/*Белый цвет текста #FFFFFF */
/*Акцент #2196F3 */
:root{
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --white-text-color:#FFFFFF;
    --accent-text-color:#2196F3;
}


body{
    font-family: Roboto,sans-serif;
    color:var(--main-text-color);
    background-color:white;
}

.conteiner{
    width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
}

.conteiner-footer{
    width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color:#2F303A;
    padding-left: 15px;
    padding-right: 15px;  
}

.list{
    padding: 0;
    margin: 0;
}

li{
    list-style:none;
}


.logo-web{
    color:var(--accent-text-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-studio{
    color:var(--main-text-color); 
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 85px;
    
    
}

.logo-studio-footer{
    color:var(--white-text-color); 
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    margin-right: 85px; 
    letter-spacing: 0.03em;
}

.logo-studio-footer:hover{
    color:var(--accent-text-color);
}


.logo-studio:hover{
    color:var(--accent-text-color);
}



.logo:focus{
    color:var(--accent-text-color);
}

.site-nav >li>a{
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.85;
    
}

.site-nav>li>a:hover{
    color:var(--accent-text-color);
}

.site-nav>li>a:focus{
    color:var(--accent-text-color);

}


.site-nav{
    display: flex;
}

.site-nav .item:last-child{
margin-right: 0;
}

.icon-svg{
    margin-right: 10px;
}


.main-nav{
    display: flex;
    align-items: center;
}


.contacts-nav{
    margin-left: auto;
}

.contacts-nav .item{
    margin-right: 30px;
}

.contacts-nav .item:last-child{
    margin-right: 0;
}

ul {
    padding-inline-start: 0px;
}

a{
    text-decoration: none;
}

.contacts-nav{
    display: flex;
}

.site-nav .item{
    margin-right: 50px;
    padding: 0px;
}
.link.current{
    color:var(--accent-text-color);
}

.contacts-nav>li>a{
    color:var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.85;
}

.contacts-nav>li>a:hover{
    color:var(--accent-text-color);
    

}

.contacts-nav>li>a:focus{
    color:var(--accent-text-color);
}
.icon-svg{
    fill: var(--secondary-text-color);  
        
        
}
.icon-svg:hover{
   fill: var(--accent-text-color);
}


.hero-section{
    text-align: center;
    background-color: #757575;
}

.hero-section-title{
 color:var(--white-text-color);
 font-weight: 900;
 font-size: 44px;
 line-height: 1;
}

.hero-section-button{
 display: inline-block;
 padding: 10px 32px;
 border-radius: 3px;
 color:var(--white-text-color);
 font-weight: bold;
 font-size: 16px;
 line-height: 0.53;
 background-color:var(--accent-text-color);
}

.hero-section-button:hover{
    color:var(--accent-text-color);
    background-color:var(--white-text-color);  
}

.hero-section-button:focus{
    color:var(--accent-text-color);
    background-color:var(--white-text-color);  
}

.advantages-title{
 margin-top: 30px;
 font-weight: bold;
 font-size: 14px;
 line-height: 0.86;

}

.advantages-section-list{
    display: flex;
    margin-top: 94px;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-between;

}

.advantages-list{
    width: 270px;
    margin-right: 30px;
}

.advantages-list:last-child{
    margin-right: 0px;
}

.advantages-description{
 color:var(--secondary-text-color);
 font-weight: normal;  
 font-size: 14px;
 line-height: 1.58;
 margin-top: 10px;
}



.section-title{
 font-weight: bold;   
 font-size: 36px;
 line-height: 0.86;
 text-align: center;
 margin-top: 94px;
 margin-bottom: 50px;
}

.work-section-list{
    display: flex;
    justify-content: space-between;
}

.work-list{
    width: 370px;
    margin-right: 30px;
}

.work-list:last-child{
    margin-right: 0px;
}

.work-section-title{
 color:var(--white-text-color);
 font-weight: bold;
 font-size: 14px;
 line-height: 0.88;
 text-align: center;
 background-color: #757575;
}

.command-section-list{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    justify-content: center;
}

.icon-list{
    margin-right: 10px;
}

.command-name{
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 0.84;
 text-align: center;
}

.description{
 color:var(--secondary-text-color);   
 font-weight: normal;
 font-size: 16px;
 line-height: 0.84;
 text-align: center;
}

.client-section-list{
    display: flex;
    justify-content: space-between;
}

.client{
    margin-right: 30px;
}

.address{
    color:var(--white-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.58;
    letter-spacing: 0.03em;
}

.social-networks-list{
    display: flex;
}

.social-networks-title{
color:var(--white-text-color); 
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
}

.footer{
    margin-top: 94px;
    background-color: #2F303A;
}

.flex{
    display: flex;
    align-items: baseline;
}

.element{
    
    margin-right: 69px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.address-footer{
    margin-top: 20px;
    line-height: 25px;
}



.contacts-footer-meil{
    color:var(--white-text-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}

.contacts-footer-tel{
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 93px;
    margin-bottom: 50px;
}

.btn-element{
    margin-right: 8px;
    
    
}
.btn-element:last-child{
    margin-right: 0px;
}

.galery{
display: flex;
flex-wrap: wrap;
}

.galery-element{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
}

.galery-element:nth-child(3n){
margin-right: 0px;
}

.galery-element:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.galery-title{
 color:var(--main-text-color);
 font-weight: bold;
 font-size: 18px;
 line-height: 1.2;
}

.galery-description{
 color:var(--secondary-text-color);   
 font-weight: normal;
 font-size: 16px;
 line-height: 1.2;
}

.description-text{
 color:var(--white-text-color);   
 font-weight: normal;
 font-size: 18px;
 line-height: 0.64;
}

.button{
 background: #F5F4FA;
 color:var(--main-text-color);
 text-align: center; 
 padding-top: 6px; 
 padding-left: 22px;
 padding-right: 22px;
 padding-bottom: 6px;
 border: none;
 border-radius: 4px;
 font-weight: 500;
 font-size: 16px;
 line-height: 0.62;
}
.all{
width: 73px;
height: 38px;
left: 495px;
top: 174px;
}

.web{
width: 128px;
height: 38px;
left: 576px;
top: 174px;
}
.app{
width: 145px;
height: 38px;
left: 712px;
top: 174px;
}

.desing{
width: 103px;
height: 38px;
left: 865px;
top: 174px;
}

.marketing{
width: 130px;
height: 38px;
left: 976px;
top: 174px;
}


.button:hover{
  background:var(--accent-text-color);
  color:var(--white-text-color); 
  font-weight: 500;
  font-size: 16px;
  line-height: 0.62;
}

 .button:focus{
   background:var(--accent-text-color);
   color:var(--white-text-color); 
   font-weight: 500;
   font-size: 16px;
   line-height: 0.62;
}
.img{
    display: block;
}
